@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/*

vert: #8fc549
bleu: #2873b7
violet: #9a5599
rouge : #eb282e
orange: #ef9d33

*/

body, html {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

body {
	font-family: 'Lato';
	font-weight: 300;
}

header {
	height: 130px;
	text-align: center;
	background: #fff;
}

footer {
	height: 70px;
	text-align: center;
	background-color: #2873b7;
}

#logo{
	width:150px;
	height:130px;
	margin:auto;
	padding-top: 18px;
	display: block;
}

#content {
	width: 78.5%;
	margin: 0 auto;
	padding:20px 0 20px 0;
}

.cap {
	text-align: center;
}

.red {
	color: red;
}
.green {
	color: green;
}

.orange{
	color:#ef9d33;
}

.valid-cap {
	margin-top: 25px;
}

.pas-cap {
	text-align: right;
}

.publish {
	text-align: left;
}

.publications {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.publication_picture, .publication_txt {
	display: inline-block;
	vertical-align: top;
}

.publication_txt {
	margin-left: 15px;
}

.publication_pseudo {
	font-weight: bold;
}

.pop-up{
	width: 400px;
	background-color: #eee;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	display: none;
	text-align: center;
	padding: 64px;
	box-shadow: 0px 0px 36px 1px black;
	margin-top: -200px;
	margin-left: -200px; 
}

.pop-up form {
	padding: 10px;
	margin-top: 10px;
}
.pop-up-publish form {
	border: 1px solid black;
}
.pop-up input{
	margin-bottom: 10px;
	/*font-style: italic;*/
	text-align: center;
}

.pop-up label {
	width: 100px;
}

.style_input {
	text-align: left;
	margin-top: 10px;
}

.style_input label, .style_input input[type=text] {
	width: 100px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.style_input input[type=text], .style_input textarea {
	width: 200px;
	padding: 8px 10px 8px 3px;
	font-size: 15px;
}

.style_input_submit {
	text-align: center;
}

.show{
	display: block;
}

.close{
	position: absolute;
	right: 9px;
	top: 0;
	cursor: pointer;
	font-size: 24px;
	font-family: 'Verdana';
	right:10px;
	top:0;
	cursor:pointer;
}

/*--------LANDING PAGE-------*/

.wrapper{
	width:50%;
	margin:auto;
}

h1{
	font-family: Oswald;
	font-size: 2.45em;
	text-transform: uppercase;
	color:#fff;
	font-weight: 400;
	letter-spacing: 2px;
}

h2{
	font-family: Oswald;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	margin:0;
}

.jaune{
	color:#f9e367;
}

.bleu{
	color:#a3d7dc;
}

.frame{
	height:auto;
	position:relative;
	background:#fff;
	padding:20px;
	margin-top: 90px;
	margin-bottom: 50px;
	-webkit-box-shadow: 8px 0px 0px 1px #8fc549;
	box-shadow: 8px 8px 0px 1px #8fc549;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.frame p{
	font-family: 'Lato';
	line-height: 1.4;
	font-weight: 300;
}

.timer{
	position:relative;
	display:block;
	height:100px;
}


@media screen and (max-width: 960px) {

.content{
	width:100%;
}

h1{
	font-size: 1em;
}

h2{
	font-size: 0.5em;
}

}

