@import 'compass';
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Nothing+You+Could+Do");


$vert: #8fc549;
$bleu: #2873b7;
$violet: #9a5599;
$rouge : #eb282e;
$orange: #ef9d33;


*::selection {
	background: black;
	color: $vert;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;

}

body {
	font-family: "Lato";
	font-weight: 300;
	/*
	margin:0;
	padding:0;
	background: url(../img/vieille.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	*/
}

header {
	height: 130px;
	text-align: center;
	background: #fff;
	
}

footer {
	height: 95px;
	background-color: #2873b7;
	margin-top:40px;
	position:relative;
	width:100%;
	color:#fff;
	font-family: 'Lato';
	font-weight: 300;
	line-height: 1.5;
	font-size: 0.7em;

	a {
		text-decoration: none;
		color:#fff;
	}
}

.wrapper-footer{
	position:relative;
	width:70%;
	margin:auto;
	padding:14px;
}

.bloc-footer-g{
	width:33%;
	display:block;
	position:relative;
	float:left;
}

.bloc-footer-m{
	width:33%;
	text-align: center;
	display:block;
	position:relative;
	float:left;

	a:hover{
		text-decoration: underline;
	}
}

.bloc-footer-d{
	width:33%;
	text-align: -webkit-right;
	display:block;
	position:relative;
	float:left;
}

.name{
	font-weight: 400;
	font-style: italic;
	font-size: 1.1em;
}

h1{
	font-family: "Oswald";
	font-size: 2.8em;
	text-transform: uppercase;
	color: $rouge;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 0;
	line-height: 130px;
}

h2{
	font-family: "Oswald";
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	margin:0;
}

#logo{
	width:150px;
	height:130px;
	margin:auto;
	padding-top: 18px;
	display: block;
}

#content {
	width: 78.5%;
	margin: 0 auto;
	padding: 103px 0 20px 0;
}

.cap {
	text-align: center;
}

.red {
	color: red;
}
.green {
	color: green;
}

.orange{
	color:#ef9d33;
}

.valid-cap {
	margin-top: 25px;
}

.pas-cap {
	text-align: right;
}

.publish {
	text-align: left;
}

.publications {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.publication_picture, .publication_txt {
	display: inline-block;
	vertical-align: top;
}

.publication_txt {
	margin-left: 15px;
}

.publication_pseudo {
	font-weight: bold;
}

.pop-up {
	width: 400px;
	background-color: #eee;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	display: none;
	text-align: center;
	padding: 64px;
	box-shadow: 0px 0px 36px 1px black;
	margin-top: -200px;
	margin-left: -200px; 

	&.pop-up-publish {
		form {
			border: 1px solid black;
		}
	}

	form {
		padding: 10px;
		margin-top: 10px;
	}
	input{
		margin-bottom: 10px;
		/*font-style: italic;*/
		text-align: center;
	}
	label {
		width: 100px;
	}
}


.style_input {
	text-align: left;
	margin-top: 10px;

	&.style_input_submit {
		text-align: center;
	}

	label, input[type=text] {
		width: 100px;
		display: inline-block;
		text-align: left;
		vertical-align: top;
	}
	input[type=text], textarea {
		width: 200px;
		padding: 8px 10px 8px 3px;
		font-size: 15px;
	}
}

.close{
	position: absolute;
	right: 9px;
	top: 0;
	cursor: pointer;
	font-size: 24px;
	font-family: 'Verdana';
	right:10px;
	top:0;
	cursor:pointer;
}

/*--------LANDING PAGE-------*/

.wrapper{
	width:501px;
	margin:auto;
}

.msg_reseaux{
	width:50%;
	margin:auto;
	text-align: center;
	position:relative;

	p{
		font-family: "Nothing You Could Do", cursive;
		font-size: 1.8em;
		margin:0;
		height:50px;
	}
}	

.jaune{
	color:#f9e367;
}

.bleu{
	color:#a3d7dc;
}

.frame{
	height:auto;
	position:relative;
	background:#fff;
	padding:20px;
	margin-top: 90px;
	margin-bottom: 50px;
    border: solid 1px #ddd;

    p{
		font-family: "Lato";
		line-height: 1.4;
		font-weight: 300;
	}
}

.reseaux{
	margin: auto;
	width: 50%;
	text-align: center;

	ul{
		margin-top: 4em;
		padding:0;

	}

	li{
		display: inline-block;
		list-style: none;
		padding-right: 0.6em;
		
	}

	p{
		font-family: "Nothing You Could Do", cursive;
		font-size: 1.8em;
	}

	a#fb_icon{
		background-image: url("../img/fb_icon.png");
		width: 40px;
		height: 40px;
		display: block;
	}

	a#twitter_icon{
		background-image: url("../img/twitter_icon.png");
		width: 40px;
		height: 40px;
		display: block;
	}

	a#youtube_icon{
		background-image: url("../img/youtube_icon.png");
		width: 40px;
		height: 40px;
		display: block;
	}
}

.reseaux-footer{
	width: 100%;

	ul{
		padding:1px;

	}

	li{
		display: inline-block;
		list-style: none;
		margin-right: 0.9em;
		
	}

	p{
		font-family: "Nothing You Could Do", cursive;
		font-size: 1.8em;
	}

	a#fb_icon{
		background-image: url("../img/fb-footer.png");
		width: 40px;
		height: 40px;
		display: block;
		@include transition( all 0.5s );
	}

	a#twitter_icon{
		background-image: url("../img/tw-footer.png");
		width: 40px;
		height: 40px;
		display: block;
		@include transition( all 0.5s );
	}

	a#youtube_icon{
		background-image: url("../img/you-footer.png");
		width: 40px;
		height: 40px;
		display: block;
		@include transition( all 0.5s );
	}

	a#fb_icon:hover{
		background-image: url("../img/facebook.png");
	}

	a#twitter_icon:hover{
		background-image: url("../img/twitter.png");
	}

	a#youtube_icon:hover{
		background-image: url("../img/youtube.png");
	}

}

.timer{
	position:relative;
	display:block;
	height:100px;
}

#defaultCountdown span span:nth-child(1) span:first-child {
	border: solid 1px $bleu;
}
#defaultCountdown span span:nth-child(2) span:first-child {
	border: solid 1px $vert;
}
#defaultCountdown span span:nth-child(3) span:first-child {
	border: solid 1px $orange;
}
#defaultCountdown span span:nth-child(4) span:first-child {
	border: solid 1px $rouge;
}

.countdown-period {
	color: white;
}

.lancement {
	color: #eb282e;
}

.nos {
	color: #ef9d33;
	font-size: 2.3em;
	text-align: center;
	margin-bottom: 20px;
}

#defaultCountdown span span:nth-child(1) .countdown-period {
	background-color: $bleu;
}
#defaultCountdown span span:nth-child(2) .countdown-period {
	background-color: $vert;
}
#defaultCountdown span span:nth-child(3) .countdown-period {
	background-color: $orange;
}
#defaultCountdown span span:nth-child(4) .countdown-period {
	background-color: $rouge;
}

.mentions{
	width:50%;
	color:#fff;
	font-family: "Lato";
	font-weight: 300;
	text-align: center;
	margin:auto;
	font-size: 0.7em;
	top:45px;
	position:relative;

	a {
		text-decoration: none;
		color:#fff;
	}
}